@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header {
    margin: 1.2rem;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
}

#logo {
    height: 32px;
}

#sign-in {
    border-style: solid;
    
}

#nav-menu {
    display: flex;
    height: 50px;
}