@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    height: 82.8vh;
    width: 100%;
    background-image: url("media/netflex-bg.jpg");
    background-size: 1150px;
    background-repeat: no-repeat;
    background-position: center;
}

#head-1 {
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
    width: 100%;
}

#head-2 {
    height: 100%;
    width: 100%;
}

nav {
    margin: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
}

#logo {
    height: 32px;
    width: 100px;
    margin-top: 10px;
    pointer-events: none;
}

#sign-in {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 5px;
    background-color: #E50914;
    display: inline-block;
    text-align: center;
    padding: 9px 18px;
    height: 32px;
    text-decoration: none;
    transition: .3s;
}

#sign-in:hover {
    background-color: #C11119;
}

#nav-menu {
    display: flex;
    height: 50px;
    gap: 10px;
    margin-top: 28px;
    margin-right: 8px;
}


/* .lang {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    display: flex;
    border-style: solid;
    border-radius: 5px;
    border-width: thin;
    border-color: gray;
    padding: 6px 10px;
    height: 32px;
    width: 200px;
} */

#sec-1 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

#text-1 {
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-1 h1 {
    font-weight: 700;
    font-size: 32px;
}

#text-1 p {
    font-weight: 400;
    font-size: 18px;
}

.select option {
    display:block;
    line-height:1.5;
    font-size:1em;
    border:none;
}

#langs {
    position:relative;
    z-index:2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color:none;
    background-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 1px 35px;
    height: 32px;
    box-shadow: none;
    font-size: 16px;
    display: block;
}

.arrow {
    z-index:1;
    position:absolute;
    right: 5%;
    bottom: 25%;
    display:block;
    padding:0;
}

.svg-lang {
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 25%;
    display: block;
    padding: 0;
}

#select-menu {
    position: relative;
}

.lang-list {
    border: none;
}

.lang-1 {
    color: black;
}

.lang-2 {
    color: black;
}