@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* font-family: 'Roboto', sans-serif; */

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: white;
    box-sizing: border-box;
}

body {
    background-color: black;
    width: 100%;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    height: 82.8vh;
    width: 100%;
    background-image: url("media/netflex-bg.jpg");
    background-size: 1150px;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

#head-1 {
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.829) 0, rgba(0, 0, 0, 0.466) 60%, rgba(0, 0, 0, 0.87) 100%);
    width: 100%;
}

#head-2 {
    height: 100%;
    width: 100%;
}

nav {
    margin: 13px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 50px;
}

#nav-menu {
    display: flex;
    height: 50px;
    gap: 10px;
    margin-top: 28px;
    margin-right: 8px;
}

/* Logo */
#logo {
    height: 32px;
    width: 100px;
    pointer-events: none;
}

/* Sign In button */
#sign-in {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    border-radius: 5px;
    background-color: #E50914;
    display: inline-block;
    text-align: center;
    padding: 9px 18px;
    height: 32px;
    text-decoration: none;
    transition: .3s;
}

#sign-in:hover {
    background-color: #C11119;
}

/* Language selector */
.lang {
    width: 200px;
    margin: 0;
    padding: 0;

}

.langs {
    position:relative;
    z-index:2;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border-color:none;
    background-image: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 1px 35px;
    height: 32px;
    box-shadow: none;
    font-size: 16px;
    display: block;
}

.arrow {
    z-index:1;
    position:absolute;
    right: 5%;
    bottom: 25%;
    display:block;
    padding:0;
}

.svg-lang {
    z-index: 1;
    position: absolute;
    left: 5%;
    bottom: 25%;
    display: block;
    padding: 0;
}

#select-menu {
    position: relative;
    margin: 0;
}

.lang-list {
    border: none;
    margin: 0;
    padding: 0;
}

.lang-1 {
    color: black;
}

.lang-2 {
    color: black;
}

/* Section 1 */
#sec-1 {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-1 {
    height: 50%;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#text-1 h1 {
    font-weight: 700;
    font-size: 32px;
}

#text-1 p {
    font-weight: 400;
    font-size: 18px;
}

/* Email form */
.input_email {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
}

.email-add {
    padding: 20px 20px;
    background-color: transparent;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 400;
    height: 55px;
    width: 320px;
}

.submit-email {
    padding: 15px;
    background-color: #E50914;
    border: none;
    border-radius: 4px;
    font-size: 24px;
    font-weight: 500;
    height: 55px;
    width: 200px;
    transition: .3s;
}

.submit-email:hover {
    background-color: #C11119;
    cursor: pointer;
}

/* Line between section */
hr {
    height: 8px;
    width: 100%;
    background-color: #232323;
    border: none;
}

/* Main Section */
main {
    overflow: hidden;
    width: 100%;
}

/* Section 2 */
#sec-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 24px;
}

#sec-2 h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-2 p {
    font-size: 18px;
    font-weight: 400;
}

/* Section 3 */
#sec-3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 24px;   
}

#sec-3 h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-3 p {
    font-size: 18px;
    font-weight: 400;
}

/* Section 4 */
#sec-4 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 24px;   
}

#sec-4 h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-4 p {
    font-size: 18px;
    font-weight: 400;
}

/* Section 5 */
#sec-5 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 24px;   
}

#sec-5 h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-5 p {
    font-size: 18px;
    font-weight: 400;
}

/* Section 6 */
#sec-6 {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 24px;
    gap: 20px;
}

#sec-6 h2 {
    font-size: 32px;
    font-weight: 700;
}

#sec-6 p {
    font-size: 18px;
    font-weight: 400;
}

/* Section FAQ */
#faq {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 98%;
}

.faq_child {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 1px;
    font-size: 18px;
    font-weight: 400;
    transition: .3 ease;
}

.button_faq {
    background-color: #2D2D2D;
    border: none;
    cursor: pointer;
    height: 70px;
    font-size: 18px;
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 25px;
}

.button_faq:hover {
    background-color: #414141;
}

.faq_text {
    background-color: #2D2D2D;
    text-align: start;
    padding: 25px;
    display: none;
}

/* Class for display FAQ's text */
.showText {
    display: block;
}

/* Footer section */
footer {
    display: flex;
    justify-content: left;
    height: auto;
    margin: 10px;
    width: 100%;
    overflow: hidden;
}

footer div {
    display: flex;
    flex-direction: column;
    margin: 15px 20px;
    height: 100%;
    width: 100%;
    gap: 18px;
}

footer div p {
    color: #BBBBBB;
    font-size: 16px;
    font-weight: 400;
}

footer div p a {
    color: #BBBBBB;
}

footer ul {
    list-style: none;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer ul li a {
    color: #BBBBBB;
}

.footLinks {
    display: flex;
    width: 420px;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}